@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
    background-image: url("https://images.pexels.com/photos/567635/pexels-photo-567635.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
    background-size: cover;
   background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
}

#mustache {
    background-color: grey;
    max-width: 500px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 30px;
    font-family: 'Roboto', sans-serif;
    text-align: center;
}